SOCIAL_AUTH_EDX_OAUTH2_KEY = 'registrar-sso-key'
SOCIAL_AUTH_EDX_OAUTH2_SECRET = 'registrar-sso-secret'
SOCIAL_AUTH_EDX_OAUTH2_ENDPOINT = 'replace-me'
SOCIAL_AUTH_EDX_OAUTH2_ISSUER = 'http://127.0.0.1:8000'
SOCIAL_AUTH_EDX_OAUTH2_URL_ROOT = 'http://127.0.0.1:8000'
SOCIAL_AUTH_EDX_OAUTH2_LOGOUT_URL = 'http://127.0.0.1:8000/logout'
