# This requirements.txt file is meant to pull in other requirements.txt files so that
# dependency monitoring tools like gemnasium.com can easily process them.

# It can not be used to do the full installation because it is not in the correct
# order.

-r ../base.in
-r ../docs.in
-r ../local.in
-r ../optional.in
-r ../production.in
-r ../test.in
