# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# ImportError: cannot import name 'URLPattern' from 'rest_framework.compat' error on newer versions
djangorestframework==3.11.1

# django-storages version 1.9 drops support for boto storage backend.
django-storages<1.9


# Requires: Python >=3.6
mock<4.0.0
zipp<2.0.0

# Stay on latest LTS release
Django>=2.2,<3.0

# From base.in
analytics-python<2.0         # https://github.com/edx/registrar/pull/39
celery<5.0                   # version 5.0 drops support for python 3.5
edx-rest-api-client==1.9.2   # https://github.com/edx/registrar/pull/1

Sphinx==1.6.7 ## Pinned due to bug in 1.7.0 - 1.7.1 (https://github.com/sphinx-doc/sphinx/issues/4692)

code-annotations>=0.3.1  # Pinned to avoid pyyaml security alerts. (https://github.com/edx/registrar/pull/42)

moto==1.3.8  # Temporary pin. Most recent moto version locks PyYAML at 3.13; will open a PR against moto to un-pin.

# From production.in
boto3>=1.4.4          # https://github.com/edx/registrar/pull/66
PyYAML==5.1           # https://github.com/edx/registrar/pull/48

# Constraints required to resolve requirements in docs.in and test.in
docutils==0.15.2
idna==2.8

# Latest version requires PyJWT>=2.0.0 but drf-jwt requires PyJWT[crypto]<2.0.0,>=1.5.2
social-auth-core<4.0.3

# Latest version requires Python 3.6+
newrelic<6.0